
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>CreateCategory</h2>
<br />
<br />
<form method="post" class="form-group">
    <label>Kategory Adı</label>
    <br />
    <input type="text" name="CategoryAd" class="form-control" required=""/>
    <br />
    <button class="btn btn-success">Ekle</button>
</form>

